#spring:
#  main:
#    banner-mode: off
#
#  datasource:
#    url: jdbc:mysql://localhost:3306/clinic_service
#    username: root
#    password: Natka-19923
#
#  jpa:
#    show-sql: true
#    properties:
#      hibernate:
#        ddl-auto: none
#        temp:
#          use_jdbc_metadata_defaults: false
#
#  sql:
#    init:
#      schema-locations: classpath:db/changelog/schema.sql
#      mode: embedded

spring:
  main:
    banner-mode: off

  datasource:
    url: jdbc:mysql://localhost:3306/clinic_service
    username: root
    password: Natka-19923

  jpa:
    show-sql: true
    properties:
      hibernate:
        ddl-auto: none
        temp:
          use_jdbc_metadata_defaults: false
  sql:
    init:
      schema-locations: classpath:db/changelog/schema.sql
      data-locations: classpath:db/changelog/data.sql
      mode: always

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml  # Путь к главному changelog файлу Liquibase


  logging:
    level:
      root: WARN

  server:
    port: 8080



#spring:
#  main:
#    banner-mode: off
#
#  datasource:
#    url: jdbc:mysql://localhost:3306/clinic_service
#    username: root
#    password: Natka-19923
#
#  jpa:
#    show-sql: true
#    properties:
#      hibernate:
#        ddl-auto: none
#        temp:
#          use_jdbc_metadata_defaults: false
#
#  sql:
#    init:
#      data-locations:
#        classpath: db/changelog/data.sql
#      schema-locations:
#        classpath: db/changelog/schema.sql
#      mode: always








