spring:
  main:
    banner-mode: off

  datasource:
    url: jdbc:mysql://localhost:3306/clinic_service
    username: root
    password: Natka-19923

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
      dialect: org.hibernate.dialect.MySQL5Dialect
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false

  springdoc:
    api-docs:
      path: /api-docs
    swagger-ui:
      path: /swagger-ui.html
      display-request-duration: true
      doc-expansion: none

  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml  # Путь к главному changelog файлу Liquibase

  logging:
    level:
      root: WARN

  server:
    port: 8080









