server:
  port: 8080

spring:
  main:
    banner-mode: off

  datasource:
    url: jdbc:mysql://localhost:3306/clinic_service
    username: root
    password: Natka-19923
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQLDialect

  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml

  mvc:
    static-path-pattern: /static/**

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: alpha
    tagsSorter: alpha

  spring:
    security:
      oauth2:
        client:
          registration:
            google:
              client-id: "416844276902-qoiff4neb27mn2lanla59gos9863jrut.apps.googleusercontent.com"
              client-secret: "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"
              redirect-uri: "{baseUrl}/login/oauth2/code/google"

logging:
  level:
    root: WARN

jwt:
  secret: "S3cr3tK3yForJWTG3ner@tionW!thR@nd0mCh@racters2024!"
  expiration: 86400000
